@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to the "Book Spot" library!</h2>
    <h3>It's an online library where every reader will find a book that meets their taste. From romance and drama to fiction books!</h3>
    <p>Please go to the <a href="https://localhost:7231/Book">Catalog</a> and search all our available books</p>
</div>
